html
    head
        title Change email
        link(rel="stylesheet" href="/css/style.css" type="text/css") 
        link(href="http://fonts.googleapis.com/css?family=Karla:400,700|Titillium+Web:400,700&subset=latin,latin-ext" rel="stylesheet" type="text/css")
    body
        if(message)
        h4 #{message}
        form(action = "/user/changeEmail" method = "POST")
            input(name = "oldEmail" type = "text" required placeholder = "Old Email")
            input(name = "newEmail" type = "text" required placeholder = "New Email")
            button(type = "Submit") Change
        div
        a(href='/user/myprofile') Back to my profile