html
    head
        title Change password
        link(rel="stylesheet" href="/css/style.css" type="text/css") 
        link(href="http://fonts.googleapis.com/css?family=Karla:400,700|Titillium+Web:400,700&subset=latin,latin-ext" rel="stylesheet" type="text/css")
    body
        if(message)
        h4 #{message}
        form(action = "/user/changePassword" method = "POST")
            input(name = "oldPassword" type = "password" required placeholder = "Old password")
            input(name = "newPassword1" type = "password" required placeholder = "New password")
            input(name = "newPassword2" type = "password" required placeholder = "New password")
            button(type = "Submit") Change
        div
        a(href='/user/myprofile') Back to my profile