html
    head
        title #{title}
        link(rel="stylesheet" href="/css/style.css" type="text/css") 
        link(href="http://fonts.googleapis.com/css?family=Karla:400,700|Titillium+Web:400,700&subset=latin,latin-ext" rel="stylesheet" type="text/css")
    body
        if(message)
        h4 #{message}
        if(items)
            p Items on your list:
            each item,index in items
                p #{item} 